body {
  line-height: 1.6;
}

/* Header background */
.navbar {
  background-image: linear-gradient(to right, skyblue, darkblue);
  color: white;
  justify-content: center;
}

.hidden {
  display: none;
}

/* Removes pointer for UV Index button display */
.uv {
  cursor: initial !important;
}

/* Ensures input block stays centered within card */
#search-form input {
  width: 100%;
}
