body {
  line-height: 1.6;
}

/* Header background */
.navbar {
  background-image: linear-gradient(to right, skyblue, darkblue);
  color: white;
  justify-content: center;
}

.hidden {
  display: none;
}

/* Removes pointer for UV Index button display */
.uv {
  cursor: initial !important;
}

/* Ensures input block stays centered within card */
#search-form input {
  width: 100%;
}

@media only screen and (max-width: 530px) {
  /* Reducing h1 text size for mobile screens */
  .navbar .center {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 430px) {
  /* Shifts icons in h1 onto own lines */
  .navbar .center i {
    display: block;
    line-height: 1.25;
  }
}
